* {
    box-sizing: border-box !important;
  }

  .navbar-brand {
      background-color:#4aaaa5;
      font-size: 50px !important;
      color: #777777 !important;
      padding: 20px;
      font-style: unset;
      }
      
  .container {
      padding: 30px;
      background-color: whitesmoke;
        }    

  .main-section {
      background-color: wheat;
  }

  .main-container.container {
      background-color: #4aaaa5;
  }

  .contact-form {
      padding: 20px;
  }

  Body {
      background-color: #777777 !important;
  }

  h1 {
      font-size: 50px !important;
      color: teal !important;
  }